#genel_cerceve {
width: 1500px;
height: 1000px;
background-color: #336666;
margin-left: auto;
margin-right: auto;
padding-top: 30px;
padding-left: 10px;
}
#header{
width: 1426px;
height: 30px;
background-color: #968F8F;
float: left;
margin-top: -20px;
}

#file{
float:left;
margin-right: 10px;
}

#edit{
float: left;
margin-right: 10px;
}

#tool{
float: left;
margin-right: 10px;
}

#latex{
float: left;
margin-right: 10px;
}

#math{
float: left;
margin-right: 10px;
}

#wizard{
float: left;
margin-right: 10px;
}

#bibliography{
float: left;
margin-right: 10px;
}

#user{
float: left;
margin-right: 10px;
}

#view{
float: left;
margin-right: 10px;
}

#option{
float: left;
margin-right: 10px;
}

#help{
float: left;
margin-right: 10px;
}

#menu{
width: 1090px;
height:20px;
float: left;

}
#image{
float: left;}
#image2{
float: left;
}
#yanmenu1{
margin-left:-1090px;
margin-top:64px;
float: left;
}
#yeni1 {
width: 500px;
height: 765px;
background-color: white;
float: left;
margin-top : 44px;
padding: 0.5em;

}

#yanmenu2{
margin-top:44px;
float:left;

}
#yeni2 {
width: 100px;
height: 765px;
background-color: white;
float: left;
margin-top : 44px;
padding: 0.5em;

}

#yeni3 {
width: 400px;
height: 765px;
background-color: white;
float: left;
margin-top : 44px;
margin-left: 20px;
padding: 0.5em;

}
 
